$title-color: #212121;
$text-color: #757575;
$accent-color: #2196f3;
$accent-dark: #188ce8;
$bgd-dark: #2f303a;
$bgd-grey: #f5f4fa;
$bgd-light: #ffffff;
$icon-color: #afb1b8;

$tr-duration: 250ms;
$tr-function: cubic-bezier(0.4, 0, 0.2, 1);

$shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
$shadow-mod: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);

$font-main: 'Roboto', sans-serif;
$font-logo: Raleway;
