.address {
  margin-top: 20px;
}
.address__link {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
  transition: color var(--tr-duration) var(--tr-function);
  margin-bottom: 9px;
}
.address__link--light {
  color: var(--bgd-light);
}
.address__link:last-child {
  margin-bottom: 0;
}
.address__link:hover,
.address__link:focus {
  color: var(--accent-color);
}
