.address {
  margin-top: 20px;
}
.address__link {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
  margin-bottom: 9px;
  @include transition(color);

  &--light {
    color: $bgd-light;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
