.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: $bgd-light;
  cursor: pointer;
  transition: background-color $tr-duration $tr-function, fill $tr-duration $tr-function;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
