.header--underlined {
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
  align-items: center;
}
// Navigation
.navigation {
  display: flex;
  align-items: center;
}
.navigation__list {
  display: flex;
  margin-left: 93px;
}
.navigation__item:not(:last-child),
.contact-list__item:not(:last-child) {
  margin-right: 50px;
}
.navigation__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);

  padding-top: 32px;
  padding-bottom: 32px;

  transition: color var(--tr-duration) var(--tr-function);
}
.navigation__link:hover,
.navigation__link:focus,
.contact-list__link:hover,
.contact-list__link:focus,
.navigation__link--current {
  color: var(--accent-color);
}
.navigation__link--current {
  position: relative;
}
.navigation__link--current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

// Contacts list

.contact-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.contact-list__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--text-color);
  text-decoration: none;

  display: inline-flex;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 28px;

  transition: color var(--tr-duration) var(--tr-function);
}
.contact-list__item {
  display: inline-flex;
  align-items: center;
}
.contact-list__icon {
  margin-right: 8px;
  fill: currentColor;
}
