.footer {
  color: $bgd-light;
  background-color: $bgd-dark;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  display: flex;
}
.footer__join-us {
  margin-left: 70px;
}
.footer__text {
  @include font-for-text(500, 14, 1.14, null);
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer__form-sign-up {
  margin-left: auto;
}
